@charset UTF-8;

body{
	margin : 0px 8px;
}
.flexigrid.hideBody{height:52px!important}
.flexigrid{margin-left:auto;margin-right:auto}
.flexigrid div.tDiv div{height:20px;line-height:20px;}
.flexigrid tr.orow td{height:35px}
.flexigrid tr.erow td{height:35px}
.flexigrid div.fbutton span{height:20px;line-height:20px}
.flexigrid div.btnseparator{height:30px;}
.flexigrid div.ftitle{font-size:20px;height:52px;line-height:52px;float:left;display:block;cursor:pointer;padding:1px;}
.flexigrid div.tDiv /*toolbar*/{height:52px;border:0; float:left}
.flexigrid div.fview:hover{border-left:1px solid #fff;border-top:1px solid #fff;border-right:1px solid #eee;border-bottom:1px solid #eee}

.navigator {
	padding:5px 5px;
}
.navigator a{
	font:12px/30px arial,sans-serif;
	color:#666666
}
.nalist{
	background-image: url(images/logo.png);
	background-position: center bottom;
    background-repeat: no-repeat;
}
.banner{
	background-image: url(images/bodybg.jpg);
	background-position: center top;
    background-repeat: no-repeat;
    height:100px
}
.foot{
	font:12px/30px arial,sans-serif;
	color:#666666;
	border-top:1px solid #ccc
}
