@charset UTF-8;

body{
	margin:0px;
}
body table{
	margin:0px auto;
}

.navigator {
	padding:5px 5px;
}
.navigator a{
	font:12px/30px arial,sans-serif;
	color:#666666
}
.nalist{
	background-image: url(images/logo.png);
	background-position: center bottom;
    background-repeat: no-repeat;
}
.banner{
	background-image: url(images/bodybg.jpg);
	background-position: center top;
    background-repeat: no-repeat;
    height:100px
}
.foottable{
	font:12px/30px arial,sans-serif;
	color:#666666;
	border-top:1px solid #ccc;
	margin-top:20px
}
.maintable{
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-position: bottom left
